.container {
  height: 18.125rem;
  background-color: var(--bg-cards);
  border-radius: 0.5rem;
  width: 21.75rem;
  padding: 1rem 0;
}

img{
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  margin: 1.875rem auto;
  border: 2px solid var(--bg-techs);
  
}

p{
  margin-top: -1rem;
  font-weight: 700;
  font-size: 1.438rem;
  text-align: center;
}

p + p{
   font-size: 0.813rem;
   font-weight: 300;
   text-align: center;
   margin-top: 0.625rem;
   text-align: center;
}