.container{
  width: 21.75rem;
  background-color: var(--bg-cards);
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.875rem 0 2.125rem 2.5rem;
  gap: 5.188rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon{
  display: flex;
  gap: 1.813rem;
  align-items: center;
}

.icon span{
  font-weight: 400;
  font-size: 1rem;
}