.myprojects{
  display: flex;
  width: 100%;
  height: 5.375rem;
  background-color: red;
  border-radius: 0.5rem;
  background-color: var(--bg-cards);
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 2.75rem;
}

h3{
  font-size: 1.25rem;
  font-weight: 700;
}

span{
  font-weight: 400;
  font-size: 0.875rem
}


